In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/saidsabri010/dataset/main/Concrete_Data_Yeh.csv')

In [5]:
df.shape()

TypeError: 'tuple' object is not callable

In [25]:
X = df[['cement','slag','flyash','water','superplasticizer','coarseaggregate','fineaggregate','age']]
y = df['csMPa']

In [17]:
X

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [24]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [27]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()

In [28]:
# train the model

In [29]:
LR.fit(X_train,y_train)

LinearRegression()

In [30]:
LR.predict(X_test)

array([28.91701531, 49.43296125, 23.43722845, 27.89994908, 46.64750999,
       31.74892949, 27.24022395, 26.13710394, 60.80714955, 22.09916332,
       46.38676955, 19.80359585, 19.99941866, 35.22837333, 34.86321135,
       31.5243478 , 54.93003436, 58.07767558, 22.84091135, 31.80813468,
       16.18267955, 50.80045772, 49.13911292, 23.24310414, 57.31523467,
       50.35690186, 57.70225851, 31.85490797, 59.72379135, 23.54034226,
       54.24575937, 51.01257987, 34.91793181, 20.5467178 , 30.10515872,
       52.10626686, 23.43694234, 22.08288737, 33.35817647, 13.84500809,
       44.02290827, 61.19634848, 34.9422841 , 34.18416057, 27.6116938 ,
       26.48793279, 41.55320602, 33.35483105, 32.49940641, 15.27981617,
       37.36328542, 18.19569477, 38.39754952, 30.83538364, 35.46910718,
       32.41941809, 18.83827515, 44.67317979, 15.48662919, 53.52262588,
       19.73046871, 57.98060278, 12.13603128, 55.3096168 , 36.12705519,
       30.23991338, 54.33209324, 55.37359023, 23.8991819 , 11.4817894 ,
       25.62384371, 21.16694343, 16.97257633, 37.13619655, 34.46066913,
       51.63352055, 35.31378827, 32.41030125, 35.70047504, 13.40145223,
       34.55420349, 40.88132069, 51.38541328, 25.21410846, 35.62073619,
       16.31711524, 24.53682054, 40.37522062, 38.07339631, 20.67695166,
       51.12222497, 34.35163571, 51.8089481 , 47.78008031, 46.99936305,
       31.83503557, 19.75271271, 33.71378919, 62.35032204, 38.66178604,
       60.74317612, 37.31187851, 57.63828508, 19.90037883, 35.78444397,
       54.50730705, 52.24400397, 36.43082873, 49.93222146, 39.21808071,
       19.74480048, 58.74763438, 60.02173993, 56.81897261, 22.22396289,
       49.15052846, 31.55171423, 60.55421052, 66.35203991, 31.64738692,
       31.85072533, 51.10548689, 43.5079064 , 54.86652058, 57.33057286,
       32.90795762, 18.42809533, 61.19634848, 28.18557138, 33.37149707,
       37.46291198, 23.98870228, 39.0153575 , 42.39030818, 14.29346318,
       30.53509501, 30.81998229, 31.22814752, 54.21034363, 31.81815771,
       57.44997716, 22.52493686, 53.43349647, 54.5881806 , 37.71450825,
       26.61991637, 40.01509169, 67.041149  , 30.20770254, 40.32354194,
       48.12778417, 37.55180492, 24.15574946, 26.67900544, 42.90096582,
       33.76134275, 51.18996469, 56.91684889, 50.7507389 , 57.31523467,
       60.11065466, 33.92094868, 54.14462474, 58.66223593, 29.80306658,
       60.74317612, 21.3104555 , 27.56164093, 33.79838691, 26.6452333 ,
       64.68826336, 18.48665811, 24.72021939, 52.12785033, 13.94393593,
       21.05826206, 30.61330939, 32.99015207, 26.34903302, 37.23504423,
       35.1961924 , 35.09171026, 35.28643053, 17.06568732, 64.8579526 ,
       34.94467802, 53.12912601, 38.07392552, 48.63152695, 38.10909654,
       26.35194982, 51.43811948, 46.81044464, 51.43811948, 18.21882982,
       41.27424911, 50.55531075, 44.67028354, 47.04963466, 52.20056039,
       49.48866559, 47.72268792, 16.60747978, 34.9734291 , 67.63066217,
       15.36475521])

In [31]:
y_test

1028    32.77
94      42.80
11      28.02
560     25.75
818     55.94
        ...
382     64.02
943     12.18
1022    41.54
6       43.70
808     11.47
Name: csMPa, Length: 206, dtype: float64

In [32]:
#checking the accuracy
LR.score(X_test,y_test)

0.6431623071445661